:root {
    --toastify-color-info: #007bff;
    --toastify-color-success: #28a745;
    --toastify-color-warning: #ffc107;
    --toastify-color-error: #dc3545;
}

.Toastify__toast-body,
.Toastify__toast-body div {
    background-color: transparent;
    color: white;
}

.Toastify,
.Toastify div {
    background-color: transparent;
}